@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Passwort vergessen Bestätigung";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bitte überprüfen Sie Ihr E-Mail Postfach, um Ihr Passwort zurückzusetzen.
</p>

