@page
@model com.b_velop.Slipways.Web.Areas.Admin.Pages.Slipways.IndexModel
@{
}
<div>
    <div class="row">
    </div>
    <div class="row">
        <div id="slipwayTable">
            <partial name="Shared/_SlipwayAdminTable" for="Slipways" />
        </div>
    </div>
</div>

@section Scripts{

}
