@page
@model com.b_velop.Slipways.Web.Pages.Slipways.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<form method="post">

    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Name" asp-for="Slipway.Name">
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Stadt / Ort" asp-for="Slipway.City">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Straße" asp-for="Slipway.Street">
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Postleitzahl" asp-for="Slipway.Postalcode">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Längengrad" asp-for="Slipway.Longitude">
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Breitengrad" asp-for="Slipway.Latitude">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Preis" asp-for="Slipway.Costs">
        </div>
        <div class="form-group col-md-6">
            <input class="form-control" placeholder="Bewertung (0 - 5)" asp-for="Slipway.Rating">
        </div>
    </div>
    <div class="form-group">
        <label>Water</label>
        <select asp-for="Slipway.Water" class="control-label"
                asp-items="@Model.Waters">
            <option value="">Gewässer wählen</option>

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Slip it</button>
</form>

