@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="align-middle align-content-md-center align-center">
            <h1 class="display-1 mt-4">Fehler</h1>
            <img class="center-block" src="~/img/message-in-bottle-100.png" />
            <p class="mt-4">
                <em>Leider ist uns ein Fehler unterlaufen</em>
            </p>
        </div>
    </div>
</div>
