@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="display-4">Fehler</h1>
    <img src="~/img/message-in-bottle-100.png" />
    <p>
        Leider ist uns ein Fehler unterlaufen
    </p>
</div>
