@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-5">
            <h2 class="display-4">Slipanlagen</h2>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="~/img/search-24.png" alt="search icon" /></span>
                </div>
                <input type="text" id="searchField" class="form-control" placeholder="Suche" aria-label="Suche" aria-describedby="basic-addon1" onkeyup="filterTable()">
            </div>
        </div>
    </div>
    <div id="prt">
        <partial name="Shared/_SlipwayTable" for="Slipways" />
    </div>

</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        function filterTable() {
            let s = document.getElementById("searchField").value
            console.log("Hello: ", s)
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let i = document.getElementById("prt");
                    i.innerHTML = xhttp.responseText;
                }
            };
            xhttp.open("GET", `/?handler=Filter&search=${s}`, true);
            xhttp.send();
        }
    </script>
}