@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

@section AdditionalMeta
{
    <title>Slipanlagen</title>
    <meta name="description" content="Eine kleine Sammlung von Slipanlagen die ständig erweitert wird." />
    <meta name="keywords" content="Slipanlagen, Slipways, Slipway, Boote, Boot, Schlauchboot, Camping, Trailering, Sliprampe"/>
}

<div class="form-group row">
    <h1 class="display-3">Slipanlagen</h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><img src="~/img/search-24.png" alt="search icon" /></span>
        </div>
        <input type="search" id="searchField" class="form-control" placeholder="Name - Ort - Gewässer" aria-label="Suche" aria-describedby="basic-addon1" onkeyup="filterTable()">
    </div>
</div>
<div id="slipwayTable">
    <partial name="Shared/_SlipwayTable" for="Slipways" />
</div>


@section Scripts{
    <script>$(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        const filterTable = () => {
            const searchField = document.getElementById("searchField").value;
            //const onlyFree = document.getElementById("onlyFreeCheck").checked;
            const xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let i = document.getElementById("slipwayTable");
                    const resp = xhttp.responseText;
                    i.value = resp;
                }
            };
            xhttp.open("GET", `/?handler=Filter&search=${searchField}`, true);
            xhttp.send();
        };
    </script>
}