@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Slip it</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Stadt / Ort
                </th>
                <th>
                    Karte
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var slipway in Model.Slipways)
            {
                <tr>
                    <td>
                        @slipway.Name
                    </td>
                    <td>
                        @slipway.City
                    </td>
                    <td>
                        <a href="https://www.google.com/maps/place/@slipway.Latitude,@slipway.Longitude" target="_blank"><img src="~/img/icons8-map-32.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>$(function () {
            $('[data-toggle="popover"]').popover()
        })</script>
}