@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Slip it</h1>
    <form method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" placeholder="Name" asp-for="Slipway.Name">
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" placeholder="Stadt / Ort" asp-for="Slipway.City">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" placeholder="Längengrad" asp-for="Slipway.Longitude">
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" placeholder="Breitengrad" asp-for="Slipway.Latitude">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Slip it</button>
    </form>
</div>

@*@section Scripts{

    }*@