@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-5">
            <h2 class="display-4">Slipanlagen</h2>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><img src="~/img/search-24.png" alt="search icon"/></span>
                </div>
                <input type="text" id="searchField" class="form-control" placeholder="Suche" aria-label="Suche" aria-describedby="basic-addon1" onkeyup="filterTable()">
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Stadt / Ort
                </th>
                <th>
                    Kosten
                </th>
                <th>
                    Karte
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var slipway in Model.Slipways)
            {
                <tr>
                    <td>
                        @slipway.Name
                    </td>
                    <td>
                        @slipway.City
                    </td>
                    <td>
                        @if (slipway.Costs > 0)
                        {
                            <img src="~/img/euro-24.png" alt="kostenpflichtig"  data-toggle="tooltip" data-placement="top" title='@slipway.Costs?.ToString("C", CultureInfo.CreateSpecificCulture("de-DE"))' />
                        }
                    </td>
                    <td>
                        <a href="https://www.google.com/maps/place/@slipway.Latitude,@slipway.Longitude" target="_blank"><img src="~/img/icons8-map-32.png" alt="Karte" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>$(function () {
        $('[data-toggle="popover"]').popover()
    })
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    function filterTable() {
        let s = document.getElementById("searchField").value
        console.log("Hello: ", s)
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("demo").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/Search", true);
        xhttp.send();
    }
    </script>
}