@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Slip it</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Stadt / Ort
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var slipway in Model.Slipways)
            {
                <tr>
                    <td>
                        @slipway.Name
                    </td>
                    <td>
                        @slipway.City
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*@section Scripts{

    }*@