@page
@model com.b_velop.Slipways.Web.PortsModel
@{
    ViewData["Title"] = "Ports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Marinas</title>
    <meta name="description" content="Auflistung aller Marina." />
    <meta name="keywords" content="Marina, Marinas, Hafen, Häfen, Gewässer, Flüsse, See, Fluss, Meer, Slipways, Slipway, Boote, Boot, Schlauchboot, Camping, Trailering, Sliprampe" />
}

<h1>Marinas</h1>
