@page
@model com.b_velop.Slipways.Web.PortsModel
@{
    ViewData["Title"] = "Ports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Marinas</title>
    <meta name="description" content="Auflistung aller Marina." />
    <meta name="keywords" content="Marina, Marinas, Hafen, Häfen, Gewässer, Flüsse, See, Fluss, Meer, Slipways, Slipway, Boote, Boot, Schlauchboot, Camping, Trailering, Sliprampe" />
}
<div class="float-right">
    <!-- BEGIN ADKLICK CODE -->
    <script src="https://ssl.adklick.de/adclick.php?id=2339&amp;user=91944&amp;banner=15729&amp;site=0&amp;data=0&amp;width=120&amp;height=600&amp;subid=0" type="text/javascript"></script><!-- END ADKLICK CODE -->
</div>
<div class="container">
    <h1>Marinas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Straße</th>
                <th>PLZ / Ort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var port in Model.Ports)
            {
                <tr>
                    <td>@port.Name</td>
                    <td>@port.Street</td>
                    <td>@port.Postalcode @port.City</td>
                </tr>
            }
        </tbody>
    </table>
</div>
