@page
@model com.b_velop.Slipways.Web.Areas.Admin.Pages.Water.EditModel
@{
}
<h1>Bearbeiten</h1>

<form method="post">
    <div class="form-row">
        <input type="hidden" asp-for="Water.Id" />
        <div class="form-group col-md-6">
            <label asp-for="Water.Longname">@Html.DisplayNameFor(model => Model.Water.Longname)</label>
            <input class="form-control" placeholder="Name" asp-for="Water.Longname">
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Water.Shortname">@Html.DisplayNameFor(model => Model.Water.Shortname)</label>
            <input class="form-control" placeholder="Kurzbezeichnung" asp-for="Water.Shortname">
        </div>
    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>