@page
@model com.b_velop.Slipways.Web.Areas.Admin.Pages.Water.IndexModel
@{
}
<div class="row">
    @if (!String.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="alert alert-primary" role="alert">
            @Model.Message
        </div>
    }
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Kurzname
            </th>
            <th>
                <a class="btn btn-success" href="/Admin/Water/Create">Neu</a>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var water in Model.Waters)
        {
            <tr>
                <td>
                    @water.Longname
                </td>
                <td>
                    @water.Shortname
                </td>
                <td>
                    <button class="btn btn-success">Details</button>
                    <button class="btn btn-primary">Edit</button>
                    <a class="btn btn-danger" asp-page="./Index" asp-route-id="@water.Id.ToString()">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>